/* box-shadow:
hsl(210 13% 62% / 0.16) 0px 4px 8px 0px */

.allorder_container {
  position: relative;

  width: 100%;
  margin-top: 3em;

  display: flex;
  justify-content: space-between;
}

.allorder_container .all_order {
  position: relative;

  width: 49%;
  height: 550px;

  border-radius: 16px;
  border: 0.5px solid #ccc;
  padding: 24px;

  overflow: auto;
  background: #fff;
  box-shadow: 10px 10px 10px #c4c4c4, -10px -10px 10px #ffffff;
}
/* .allorder_container .order_detail .order_divider, */
.allorder_container .all_order .order_divider {
  margin: 2em 0;
}

.allorder_container .order_detail .order_divider {
  margin: 1em 0;
}

.allorder_container .all_order .order_items {
  position: relative;

  width: 100%;
  height: 130px;

  display: flex;
  justify-content: center;
  flex-direction: column;

  /* margin-bottom: 2em; */
  border-radius: 16px;
  border: 0.5px solid #ccc;
  padding: 25px;
  /* background: #000; */
}

.allorder_container .all_order .order_items h6 {
  color: #212b36;
  font-weight: 600;

  display: flex;
  justify-content: space-between;
  /* line-height: 1em; */
}

.allorder_container .all_order .order_items h6 > span {
  /* background: violet; */
  width: 65px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  text-transform: capitalize;
}

.allorder_container .all_order .order_items p {
  margin: 8px 0 0;
  font-weight: 600;
  line-height: 20px;
  color: #212b36;

  display: flex;
  justify-content: space-between;
}

.allorder_container .all_order .order_items p > span {
  color: #637381;
}

.allorder_container .order_detail {
  position: relative;
  width: 49%;
  height: 550px;

  overflow: auto;
  /* height: 100%; */

  padding: 24px;

  /* display: flex;
  justify-content: center;
  align-items: center; */

  background: #fff;
  border: 0.5px solid #ccc;
  box-shadow: 10px 10px 10px #c4c4c4, -10px -10px 10px #ffffff;
  /* box-shadow: 10px 10px 10px #c4c4c4, -5px -5px 5px #c4c4c4; */

  border-radius: 16px;
}

.allorder_container .order_detail .order_detail_address {
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: space-between;

  background: violet;
}

.allorder_container .order_detail .order_detail_address .order_address_left {
  width: 49%;
  height: 100%;
  color: #fff;

  background: #000;
}

.order_detail_items .title {
  color: #919eab;
  font-family: "Public Sans";
  font-size: 12px;
  font-weight: 700;
  /* margin: 0 0 12px; */
  line-height: 22px;
}

.order_detail_items .address,
.order_detail_items .phone,
.order_detail_items .name {
  color: #000;
  font-size: 12px;
  font-weight: 600;
  /* line-height: 22px; */
}

.allorder_container .order_detail .order_detail_address .order_address_right {
  width: 49%;
  height: 100%;

  background: pink;
}
