.profile_container {
  position: relative;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 90%;
  height: 90%;
  /* background: violet; */

  display: flex;
  justify-content: space-between;
  /* padding: 0 24px; */
  /* flex-direction: column; */
  border: 0.5px solid #ccc;
  border-radius: 16px;

  box-shadow: 10px 10px 15px #c4c4c4, -10px -10px 15px #ffffff;
  font-size: 15px;
}

.profile_left_side {
  position: relative;
  width: 30%;
  height: 500px;
  padding: 0 1em;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: #fff;
  border-radius: 16px;
  box-shadow: 10px 10px 15px #c4c4c4, -10px -10px 15px #ffffff;
}

.profile_right_side {
  position: relative;
  width: 65%;

  display: flex;
  /* justify-content: center; */
  align-items: center;

  background: #fff;
  border-radius: 16px;

  padding: 0 1em;
  box-shadow: 10px 10px 15px #c4c4c4, -10px -10px 15px #ffffff;
}

.profile_left_side .onHover {
  position: absolute;
  width: 100%;
  height: 100%;

  border-radius: 50%;

  z-index: 1;
  transition: all 0.5s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  visibility: hidden;
  opacity: 0;

  background: rgba(95, 100, 106, 0.5);
}

.profile_left_side .onHover.show {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */

  visibility: visible;
  opacity: 1;

  /* background: rgba(95, 100, 106, 0.5); */
}

/* box right side */
.profile_container .css-0 {
  flex-grow: 1;
  width: 40%;
  display: flex;
  padding: 0em 1.6em;
}

/* box left side */
.profile_container .avt {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile_container .avt .img_cover {
  width: 15em;
  height: 15em;

  border: 1px dashed #919eab;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_container .avt .img_cover .icon_button {
  border: 0.5px solid #ccc;
  width: 8em;
  height: 8em;
  overflow: hidden;
}

.profile_container .avt .img_cover .icon_button img {
  position: absolute;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.profile_container .avt .img_cover .icon_button .css-y9smp5-MuiTypography-root {
  margin-top: 1em;
  font-size: 1em;
}
